<div class="container">
	<h1>New product</h1>
	<% if flash.key? ('product_errors') %>
		<ul class="list-group">
			<% flash[:product_errors].to_a.each do |err| %>
				<li class="list-group-item list-group-item-danger"><%= err %></li>
			<% end %>
		</ul>
	<% end %>
	<form action="/products" method="post" class="form-horizontal">
		<fieldset>
			<div class="form-group">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<label for="name" class="col-lg-2 control-label">Name:</label>
				<div class="col-lg-6">
					<input type="text" class="form-control" name="name" placeholder="Name">
				</div>
			</div>
			<div class="form-group">
				<label for="description" class="col-lg-2 control-label">Description:</label>
				<div class="col-lg-6">
					<input type="text" class="form-control"  name="description" placeholder="Desciption">
				</div>
			</div>
			<div class="form-group">
				<label for="category" class="col-lg-2 control-label">Category:</label>
				<div class="col-lg-6">
					<select class="form-control" name="category" id="select">
						<%= @categories.each do |category| %>
							<option value="<%= category.id %>"><%= category.name %></option>
						<% end %>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="pricing" class="col-lg-2 control-label">Pricing:</label>
				<div class="col-lg-6 input-group jumbo">
					<span class="input-group-addon">$</span>
					<input type="decimal" class="form-control"  name="pricing" placeholder="9.99">
				</div>
			</div>
			<div class="col-lg-offset-2">
				<input type="submit" class="btn btn-success" value="Create"> <a href="/" class="btn btn-default">Back</a>
			</div>
		</fieldset>
	</form>
</div>